p {
    background-color: red;
}

div {
    width: 400px;
    border: 15px black;
}

.class-two a:link .class-two a:visited {
    color:blue;
}

.class-two a:hover {
    color: green;
    background-color: aqua;
}

.class-one {
    color: blue;
    align-items: center;
}

#id-one {
    color: purple;
    background-color: yellow;
}